<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<h1 th:align="center">Add User</h1>

<form th:action="@{'/create'}" method="post" th:align="center">
    <input th:name="firstname" th:type="text" th:placeholder="First_Name"><br><br>
    <input th:name="lastname" th:type="text" th:placeholder="Last_Name"><br><br>
    <input th:name="telnumber" th:type="number" th:placeholder="Tel_Number"><br><br>
    <input th:type="submit" value="Create User">
</form>

<h1 th:align="center">User List</h1>

<table th:align="center" border="1">
    <tr th:align="center">
        <th th:width="60">ID</th>
        <th th:width="120">First Name</th>
        <th th:width="120">Last Name</th>
        <th th:width="120">Tel Number</th>
        <th th:width="60">Details</th>
    </tr>

    <tr th:align="center" th:each="user : ${users}">
        <td th:utext="${user.id}">ID</td>
        <td th:utext="${user.firstName}">First Name</td>
        <td th:utext="${user.lastName}">Last Name</td>
        <td th:utext="${user.telNumber}">Tel Number</td>
        <td><a th:href="@{/userdata/{id}(id=${user.id})}">Details</a></td>
    </tr>
</table>



</body>
</html>