<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<form th:align="center" th:action="@{'/logout'}" method="POST">
    <button class="btn btn-danger btn-center">Logout</button>
</form>

<h1 th:align="center">User Data</h1>

<table th:align="center" th:border="1">
    <tr th:align="center">
        <th th:width="60">ID</th>
        <th th:width="120">First Name</th>
        <th th:width="120">Last Name</th>
        <th th:width="120">Tel Number</th>
        <th th:width="120">User Name</th>
        <th th:width="120">Password</th>
        <th th:width="60">Role</th>
        <th th:width="60">Delete</th>
        <th th:width="60">Back</th>
    </tr>

    <tr th:align="center">
        <td th:utext="${user.id}">ID</td>
        <td th:utext="${user.firstName}">First Name</td>
        <td th:utext="${user.lastName}">Last Name</td>
        <td th:utext="${user.telNumber}">Tel Number</td>
        <td th:utext="${user.username}">User Name</td>
        <td th:utext="${user.password}">Tel Number</td>
        <td th:utext="${user.roles}">Role</td>
        <td><a th:href="@{/admin/deleteuser/{id}(id=${user.id})}">Delete</a></td>
        <td><a th:href="@{/admin}">Back</a></td>
    </tr>
</table>

<h1 th:align="center">Edit User</h1>

<form th:action="@{'/admin/edituser'}" method="post" th:align="center">

    <label>ID   <input th:name="id" th:type="text" th:value="${user.id}" readonly="true"></label><br>
    <h3>New First Name</h3>
    <input th:name="firstname" th:type="text" th:value="${user.firstName}"><br>
    <h3>New Last Name</h3>
    <input th:name="lastname" th:type="text" th:value="${user.lastName}"><br>
    <h3>New Tel Number</h3>
    <input th:name="telnumber" th:type="number" th:value="${user.telNumber}"><br><br>
    <h3>New User Name</h3>
    <input th:name="username" th:type="text" th:value="${user.username}"><br><br>
    <h3>New Password</h3>
    <input th:name="password" th:type="text" th:value="${user.password}"><br><br>

    <input th:type="checkbox" th:id="adminId"  th:name="adm" th:value="ROLE_ADMIN">
    <label th:for="adminId">Admin</label>

    <input th:type="checkbox" th:id="userId"  th:name="usr" th:value="ROLE_USER">
    <label th:for="userId">User</label>

    <br><br>
    <input th:type="submit" value="Save User">

</form>

</body>
</html>
